@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-hover: #272727;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/* Home */

.cabecalho {
    padding: 5% 15% 0% 15%;
    margin-bottom: 6%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: #0000FF;
}

body {
    align-items: center;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

button {
    background-color: var(--cor-terciaria);
    color: darkblue;
}

a {
    color: darkgreen;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__reversa {
    flex-direction: row-reverse;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40PX;
}

.apresentacao__titulo {
    text-align: left;
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.titulo__projetos {
    margin-bottom: 5%;
}

.apresentacao__conteudo__paragrafo {
    text-align: left;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.paragrafo__secundario {
    font-size: 1.15rem;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__botoes {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 60%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__botoes:hover {
    background-color: var(--cor-hover);
    border: 2px solid #0000FF;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__imagens {
    width: 50%;
}

.rodape {
    margin-top: 10%;
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 0.75rem;
    font-weight: 400;
}

/* E-mail */

.apresentacao__formulario {
    padding: 0 30% 0 12%;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.apresentacao__titulo-formulario {
    padding: 0 30% 5% 30%;
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.formulario-paragrafo {
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 16px;
    margin-bottom: .5rem;
}

.text_input, .email_input, .mensagem_input {
    margin-bottom: .5rem;
}

.text_input,
.email_input {
    padding: 0 .5rem;
    height: 3em;
    width: 600px;
    border-radius: 4.5px;
    border: var(--cor-secundaria);
}

.mensagem_input {
    padding: .5rem .5rem;
    height: 10em;
    width: 600px;
    border-radius: 4.5px;
    border: var(--cor-secundaria);
}

.formulario-botao_enviar {
    width: 8rem;
    height: 2.8em;
    border: 2px solid var(--cor-terciaria);
    border-radius: 4px;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.formulario-botao_enviar:hover {
    background-color: var(--cor-hover);
    border: 2px solid #0000FF;
}

/* Projetos */

.titulo__projetos {
    padding: 5% 15% 0 15%; 
}

.link__projetos {
    
    color: var(--cor-secundaria);
}

.link__projetos:hover {
    color: #0000FF;
}

small {
    font-weight: 400;
}

@media (max-width: 1000px) {

    /* Home */

    .cabecalho {
        margin-bottom: 10%;
    }
    
    .cabecalho__menu__link {
        font-size: .75rem;
    }

    .cabecalho__menu {
        justify-content: center;
        gap: 40px;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
        gap: 40px;
    }

    .apresentacao__mobile {
        margin-bottom: 15%;
    }

    .apresentacao__titulo {
        font-size: 2rem;
    }

    .apresentacao__conteudo {
        width: auto;
        justify-content: center;
    }

    .design__imagens {
        flex-direction: column;
        justify-content: center;
        width: 50%;
    }

    .apresentacao__imagens {
        width: 70%;
    }

    .apresentacao__conteudo__paragrafoii {
        padding-left: 10%;
    }

    .apresentacao__links__botoes {
        width: 80%;
    }

    /* E-mail */

    form {
        margin-bottom: 5%;
    }

    .apresentacao__formulario {
        row-gap: 20px;
        padding: 5% 10% 0 10%;
    }

    .apresentacao__titulo-formulario {
        padding: 0 30% 5% 5%;
        font-size: 2.25rem;
        font-family: var(--fonte-primaria);
    }

    .formulario-paragrafo {
        color: var(--cor-terciaria);
        font-family: var(--fonte-secundaria);
        font-size: 16px;
        margin-bottom: .5rem;
    }

    .text_input,
    .email_input {
        height: 3em;
        width: 95%;
        border-radius: 4.5px;
        border: var(--cor-secundaria);   
    }

    .mensagem_input {
        height: 10em;
        width: 95%;
        border-radius: 4.5px;
        border: var(--cor-secundaria);
    }

    .formulario-botao_enviar {
        width: 100%;
        height: 3.5em;
        border: 2px solid var(--cor-terciaria);
        border-radius: 4px;
        background-color: var(--cor-primaria);
        color: var(--cor-secundaria);
        margin-top: 1rem;
    }

    .formulario-botao_enviar:hover {
        background-color: var(--cor-hover);
        border: 2px solid #0000FF;
    }


}

@media (min-width: 1001px) {
    form {
        margin: 0 0 4rem 15rem ;
    }
}